[submodule "plugins/e-mission-data-collection"]
	path = plugins/e-mission-data-collection
	url = https://github.com/e-mission/e-mission-data-collection.git
[submodule "plugins/cordova-usercache"]
	path = plugins/cordova-usercache
	url = https://github.com/e-mission/cordova-usercache.git
[submodule "plugins/cordova-unified-logger"]
	path = plugins/cordova-unified-logger
	url = git@github.com:ericafenyo/cordova-unified-logger.git
