<?xml version="1.0" encoding="utf-8"?>
<!--
  BSD 3-Clause License

  Copyright (c) 2020-2021, Alliance for Sustainable Energy
  All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:

  1. Redistributions of source code must retain the above copyright notice, this
     list of conditions and the following disclaimer.

  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution.

  3. Neither the name of the copyright holder nor the names of its
     contributors may be used to endorse or promote products derived from
     this software without specific prior written permission.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.eecs.emission.tracker">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

  <application>
    <receiver
        android:name=".BootReceiver"
        android:enabled="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <receiver
        android:name=".location.TripDiaryStateMachineReceiver"
        android:enabled="true"
        android:exported="false">
      <intent-filter>
        <action android:name="local.transition.initialize" />
        <action android:name="local.transition.exited_geofence" />
        <action android:name="local.transition.stopped_moving" />
        <action android:name="local.transition.stop_tracking" />
        <action android:name="local.transition.start_tracking" />
        <action android:name="local.transition.tracking_error" />
      </intent-filter>
    </receiver>

    <service
        android:name=".location.ActivityRecognitionChangeIntentService"
        android:enabled="true"
        android:exported="false" />
    <service
        android:name=".location.TripDiaryStateMachineService"
        android:enabled="true"
        android:exported="false" />
    <service
        android:name=".location.TripDiaryStateMachineServiceOngoing"
        android:enabled="true"
        android:exported="false" />
    <service
        android:name=".location.TripDiaryStateMachineForegroundService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="location" />
    <service
        android:name=".location.GeofenceExitIntentService"
        android:enabled="true"
        android:exported="false" />
    <service
        android:name=".location.LocationChangeIntentService"
        android:enabled="true"
        android:exported="false" />
    <service
        android:name=".location.actions.GeofenceLocationIntentService"
        android:enabled="true"
        android:exported="false" />
  </application>
</manifest>
